html {
  font-size: 62.5%;
}

body {
  background-color: var(--background-1);
  color: var(--foreground-1);
  font-family: Inter, sans-serif;
  font-size: 2rem;
}

a {
  color: var(--foreground-1);

  &:hover {
    background-color: var(--foreground-1);
    color: var(--background-1);
    text-decoration-color: var(--foreground-1);
  }
}
